/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    background-image: url("fundo.jpg");;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Container styles */
.container {
    text-align: center;
    background-color: pink;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Header styles */
header h1 {
    font-size: 2.5rem;
    color: 9b111e;
    margin-bottom: 10px;
}

header p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 30px;
}

/* Button container styles */
.button-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Button styles */
.button {
    display: inline-block;
    padding: 12px 24px;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    background-color: #9b111e;
    border-radius: 6px;
    transition: background-color 0.3s, transform 0.2s;
}

.button:hover {
    background-color: #ff2c2c;
    transform: scale(1.05);
}

.button:active {
    background-color: #003d80;
}

/* Responsive design */
@media (max-width: 768px) {
    .button-container {
        width: 100%;
        padding: 0 20px;
    }

    .button {
        font-size: 1rem;
        padding: 10px 20px;
    }
}
